@import url(https://fonts.googleapis.com/css?family=Work+Sans);

body {
  font-family: 'Work Sans', 'Helvetica', sans-serif !important;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-title > h1 {
  font-size: 4em;
  font-weight: normal;
  color: #fff;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 50, 0.35);
}

.circular {
  display: block;
  width: 9em;
  height: 9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6em;
  text-align: center;
}

.circular img {
  width: 100%;
  height: 100%;
}

.circular.arrowed {
  color: #fff;
  background: #2bb;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: -50px;
}

.circular .arrow {
  position: relative;
  font-size: 6em;
  bottom: 0.45em;
  margin: 1em 0 0.5em 0;
}

.subtitle {
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  color: #644;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.banner {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  background: #fff;
  padding: 15px 6% 40px 6%;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: #444 -2px 2px 2px;
}

.content > .written {
  text-align: left;
  font-size: 1.4em;
  line-height: 1.6em;
  color: #644;
}

.written strong {
  display: block;
  margin: 1em 0 0.5em 0;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:10%;
	width:80%;
	height:80%;
}

@media (max-width: 900px) {
  .banner {
    display: none;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
