<section id="about" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>By 2020, a billion more people globally, many of whom are living in emerging Asia, will access the Internet for the first time.</h2>
        <p class="lead">At the same time, new challenges have emerged as local leaders struggle to keep up with demand for services, unexpected conflicts arise, and innovation disrupts old economies. As these changes accelerate, more and more people are turning to eGovernment apps, voter information tools, open education platforms, online business services, and public safety databases to solve real and pressing problems.  Join us as we work to combat old challenges in new ways and improve the lives of millions of people across the region.</p>
      </div>
    </div>
  </div>
</section>
