<aside class="callout bg-primary">
  <div class="text-vertical-center">
    <h1>Work With Us</h1>
    <h2>The right partnerships can change the world. The Asia Foundation works closely with an extensive network of partners, from local communities and civil society organizations to governments and international institutions. If you share our vision for real change and our passion for sustainable solutions, we want to work with you, too. We invite you to join us in building intelligent, targeted solutions to some of the most vexing problems in Asia.</h2>
  </div>
</aside>

<aside class="partners">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hide desktop">
        <img src="img/logos project.png"/>
      </div>
      <div class="col-sm-12 hide mobile">
        <img src="img/logos project narrow.png"/>
      </div>
    </div>
  </div>
</aside>
