<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          465 California St., 9th Floor<br>
          San Francisco, CA 94104<br>
          (415) 982-4640
        </p>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/asiafoundation"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/asia_foundation"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/asiafoundation"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">&copy; The Asia Foundation 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
