<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Technology &amp; Innovation<span class="mobile-br"> </span>at The Asia Foundation</h1>
    <h3>Whether it's building smarter cities, protecting the rights of those at risk, or helping
    create more sustainable, resilient communities, we're improving the lives of millions of
    Asia's citizens by solving old challenges in new ways.</h3>
    <!--
    <br/>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  -->
  </div>
</header>
