<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Technology &amp; Innovation<span class="mobile-br"> </span>at The Asia Foundation</h1>
    <h3>Innovation ecosystems are thriving in Asia. So whether it’s building smarter cities, connecting at-risk communities, or helping forge more sustainable, resilient societies, we’re working with the region’s most creative entrepreneurs and leaders to improve the lives of millions of Asia’s citizens.</h3>
    <!--
    <br/>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  -->
  </div>
</header>
