<style type="text/css">


  svg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .country {
    fill: #CCC;
    stroke: #aaa;
    stroke-width: 1.5px;
  }

  .country:hover {
    fill: #bcf;
  }

  #mapper {
    width: 100%;
    padding-bottom: 45px;
    overflow: hidden;
    text-align: center;
  }

  .tooltip {
    color: #eee;
    background-color: #000;
    padding: .6em;
    border-radius: 8px;
    opacity: 0.9;
    position: absolute;
    width: 240px;
  }

  .tooltip p {
    text-align: left;
  }

  .tooltip.hidden {
    display: block !important;
    opacity: 0;
  }
</style>

<section id="map" class="map">
  <div id="mapper">
  </div>
</section>
