<div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="circular arrowed">
          <span class="arrow">⌄<br/><br/>&nbsp;</span>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <span class="project myanmar">Voter Information</span>
          <span class="project india">Women’s Safety</span>
          <span class="project thailand">Disaster Risk Management</span>
          <span class="project mongolia">Urban Services</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="project myanmar">
          <h3 class="subtitle">Our election databases and APIs have generated dozens of mobile apps, hundreds of millions of database queries, and driven influential civic tech initiatives in developing Asia.</h3>
          <img class="banner" src="/img/Myanmar Wide.jpg"/>
          <div class="written">
            <strong>Yangon, Myanmar</strong>
            <p>In the run-up to Myanmar’s historic 2015 election, the Foundation and local partners worked together to create the only consistently available and reliable source of candidate information: the <a href="http://maepaysoh.org">Mae Pay Soh (“Let’s Vote”)</a> voter information database. The database and its related application programming interface (API), gave software developers direct access to a suite of official information collected and verified by the Myanmar Union Election Commission, including official data on the nearly 6000 candidates and 90+ political parties contesting the election.</p>
            <p>This resource proved invaluable to the country’s emerging civic tech community, especially during the groundbreaking “Mae Pay Soh Hack Challenge,” a two-week programming competition organized by The Asia Foundation to create election-related mobile and web applications. More than 130 developers and designers in 30 teams entered the competition and 31 different web and mobile applications were submitted to the judges, making it Myanmar’s largest programming competition to date. Ten of the most polished applications were made available for free online and in the Google Play and iOS app stores, where they have been downloaded hundreds of thousands of times already.</p>
          </div>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LjcRJyUdb2A" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="project india">
          <h3 class="subtitle">By leveraging the crowd, SafetiPin is taking a bottom-up approach to addressing a serious challenge faced by many local governments in Asia: providing women with safe and secure public spaces.</h3>
          <img class="banner" src="/img/Safetipin Wide.jpg"/>
          <div class="written">
            <strong>New Delhi, India</strong>
            <p>Emerging from the local women’s movement against street harassment, bullying and stalking, new social collaboration tools like <a href="http://safetipin.org">SafetiPin</a> are helping women work together to assess the relative safety of urban areas in India’s largest cities.  Free to download, SafetiPin is an Android and iOS app that employs location services and an open-source map to allow users to rate a neighborhood or a specific street’s relative safety, while also showing how others have rated that area.</p>
            <p>At the core of the app is the Safety Audit. Users rate the safety of a given area based on key parameters such as the availability of working street lights, the presence of police and other security personnel, the number of men or women on the street, and the overall mood on the street.  The Asia Foundation worked with SafetiPin to provide professionally trained auditors to collect additional safety-related information on communities and cities to augment data submitted by users.</p>
            <p>SafetiPin builds on the premise that community participation and engagement will make India’s cities safer. By leveraging India’s over 300 million mobile phone subscribers, this initiative is transforming the way women connect with one another and obtain safety and security information from within their local communities.</p>
          </div>
          <div class="video-container">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/84K_Qu-xSjQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="project thailand">
          <h3 class="subtitle">Natural disasters affect the lives of the poor and marginalized in profound ways. The Asia Foundation is working with local innovators, experts, and policymakers in Thailand to expand the reach of real-time emergency alert systems, and better coordinate preparation and response efforts among government partners.</h3>
          <img class="banner" src="/img/DRM Wide.jpg"/>
          <div class="written">
            <strong>Bangkok, Thailand</strong>
            <p>While access to timely, accurate, and official information during natural disasters is a major concern of citizens and governments across Asia, <i>coordination</i> and <i>dissemination</i> of this information has proven challenging. A case in point is the 2011 Bangkok flood: at the height of the disaster, residents and visitors alike were faced with confusing and conflicting announcements from various government ministries. Thais then turned to the Internet and social media to obtain more relevant information and advice. In the aftermath of the flood, the government acknowledged the need for better coordination on DRM data sharing, and disaster preparedness in general.</p>
            <p>The Asia Foundation is working with the National Disaster Warning Center and the Department of Disaster Mitigation and Prevention to expand the use of public APIs to enhance access to government DRM data and better integrate with existing social media platforms popular with Thais. The project will make it possible for disaster response agencies in Thailand to deliver real-time alerts to citizens via social media and better coordinate response efforts with government partners.</p>
            <p>In addition, the Foundation has helped form a DRM Data Working Group to conduct research, initiate pilot projects, and facilitate greater collaboration on DRM data sharing initiatives among key stakeholders.  n emerging community of DRM data partners in Thailand - including Thai entrepreneurs, software developers, civic tech experts, and reform-minded government officials - have joined this initiative, and regular meetings are taking place to facilitate problem-solving and coordination across agencies, and pilot simple data sharing and analysis technologies that have potential to help DRM agencies better protect property and save lives.</p>
          </div>
        </div>
        <div class="project mongolia">
          <h3 class="subtitle">Through the intelligent use of remote sensing tools, advanced mapping, and UAV technologies, The Asia Foundation has helped the marginalized and poor access better urban services, and assisted policy makers and city planners across Asia as they prepare for the future of cities.</h3>
          <img class="banner" src="/img/MG feature Wide.jpg"/>
          <div class="written">
            <strong>Ulaanbaatar, Mongolia</strong>
            <p>Three quarters of a million nomads from across Mongolia now inhabit the “Ger Areas” – a ring of unplanned communities and low-income neighborhoods surrounding the capital city of Ulaanbaatar. In the next decade these areas are expected to grow by an estimated 400,000 additional residents, making the Ger Areas of Ulaanbaatar one of the largest unplanned settlements in Asia.</p>
            <p>A key challenge facing the city government as it struggles to provide water, education, transportation, and other basic urban services to the Ger Areas is a shortage of good data. Current maps of Ulaanbaatar do not represent the existing Ger Areas in much detail. Satellite imagery accessible to the city is often of a low resolution or obscured by cloud cover. Without good geospatial data, planning for the delivery of basic services is very difficult.</p>
            <p>Working with the City of Ulaanbaatar, The Asia Foundation is collecting high-quality imagery and elevation data for the city using Unmanned Aerial Vehicles (UAVs) and earth-imaging satellites. These high-resolution images are used to create detailed maps complete with elevation data, and labeled neighborhoods, roads, buildings, landmarks, and other features. And in a bid to make this information open and accessible to all, the maps were shared with <a href="http://www.openstreetmap.org">OpenStreetMap (OSM)</a>, a world-wide, community-driven mapping project.</p>
          </div>
          <div class="video-container">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/teSTYUXB3Wg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!--
      <div class="modal-footer">
      </div>
    -->
    </div>
  </div>
</div>
