<section id="portfolio" class="portfolio">
  <h1>What We Do</h1>

  <div class="content-section-a">
    <div class="left">
      <hr class="section-heading-spacer"/>
      <div class="clearfix"></div>
      <h2 class="section-heading">Open Platforms for Voter Information</h2>
      <div class="lead"
        <p> During Myanmar’s historic 2015 election, the only consistently available and reliable sources of candidate information were smartphone apps developed using our <a href="https://www.youtube.com/watch?v=LjcRJyUdb2A">Mae Pay Soh (“Let’s Vote”)</a> voter information database and public API.</p>
      </div>
    </div>
    <div class="right" style="background-image:url('img/Election Photo 2.jpg')">
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="left" style="background-image:url('img/Safetipin 1.jpg')">
    </div>
      <div class="right">
        <hr class="section-heading-spacer"/>
        <div class="clearfix"></div>
        <h2 class="section-heading">Crowdsourcing Women’s Safety</h2>
        <div class="lead">
          <p><a href="https://www.youtube.com/watch?v=84K_Qu-xSjQ">Safetipin</a> helps Indian women use their smartphones to map security risks in urban areas.  We help augment their data with information collected by professionally trained safety auditors who record additional street-level data on communities and cities in India.</p>
        </div>
      </div>

      <div class="clearfix"></div>
  </div>

  <div class="content-section-a">
    <div class="left">
      <hr class="section-heading-spacer"/>
      <div class="clearfix"></div>
      <h2 class="section-heading">Disaster Alerts on Every Device</h2>
      <div class="lead"
        <p>During a disaster, information can save lives.  We’re working with government disaster response experts in Thailand to disseminate emergency alerts on social media platforms, and share disaster data more openly using public APIs and online databases.</p>
      </div>
    </div>
    <div class="right" style="background-image:url('img/DRM Photo 2.jpg')">
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="content-section-b">
    <div class="left" style="background-image:url('img/mapping 2.jpg');">
    </div>
    <div class="right">
      <hr class="section-heading-spacer"/>
      <div class="clearfix"></div>
      <h2 class="section-heading">Remote Sensing and the Future of Cities</h2>
      <div class="lead">
        <p><a href="https://www.youtube.com/watch?v=teSTYUXB3Wg">Using UAVs and earth-imaging satellites</a>, we work with elected officials in Mongolia’s capital city to map informal communities and give local policy makers new tools to plan and improve service delivery in low-income neighborhoods.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <h1>
    <a href="http://www.asiafoundation.org/resources/pdfs/DMTPTAF.pdf" class="btn btn-dark booklet">View Our Project Booklet</a>
  </h1>
</section>
