<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <div class="img-portfolio" style="background-image:url('/img/Election Photo 1.jpg');"></div>
                <div class="title-bg"></div>
                <div class="title-container">
                    <h3>Voter Information</h3>
                    <p>Every candidate, every party, every detail<p>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <div class="img-portfolio" style="background-image:url('/img/Safetipin 1.jpg');"></div>
                <div class="title-bg"></div>
                <div class="title-container">
                    <h3>Women's Safety</h3>
                    <p>Social media and mobile tools are helping women live safer and more secure lives.<p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <div class="img-portfolio" style="background-image:url('/img/DRM Photo 1.jpg');"></div>
                <div class="title-bg"></div>
                <div class="title-container">
                    <h3>Disaster Risk Management</h3>
                    <p>During a disaster, information can save lives<p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <div class="img-portfolio" style="background-image:url('/img/mapping 1.jpg');"></div>
                <div class="title-bg"></div>
                <div class="title-container">
                    <h3>Urban Services</h3>
                    <p>Remote sensing tools, open mapping initiatives, and UAV technologies are helping policy makers prepare for the future of cities.<p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>