<section id="portfolio" class="portfolio">
  <h1>What We Do</h1>

  <div class="content-section-a">
              <div class="left">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Voter information</h2>
                  <div class="lead"
                  <p> Asia Foundation election initiatives have helped millions of citizens obtain non-partisan information on candidates and the voting process.  During Myanmar’s historic 2015 election, the only consistently available and reliable source of candidate information was via online mobile apps, and every one of those apps was powered by The Asia Foundation’s <a href="http://www.maepaysoh.org">Mae Pay Soh (“Let’s Vote”) voter information database</a>.  More than 130 developers and designers used the database to build Myanmar’s first election information apps, creating polished and highly usable information tools that reached hundreds of thousands of voters.</p>
                </div>
              </div>
              <div class="right" style="background-image:url('img/Election Photo 2.jpg')">
              </div>
      <div class="clearfix"></div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

            <div class="left" style="background-image:url('img/Safetipin 1.jpg')">
            </div>
              <div class="right">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Women's Safety</h2>
                  <div class="lead">
                    <p> By leveraging India’s over 300 million mobile phone subscribers, <a href="http://www.safetipin.com">Safetipin</a> is transforming the way women obtain safety and security information from within their local communities.  By focusing on existing networks of women across Asia, SafetiPin helps women identify security risks in urban areas. To augment data submitted by users, The Asia Foundation worked with SafetiPin to provide professionally trained auditors to collect additional safety-related information on communities and cities.
                    </p>
                  </div>
              </div>

              <div class="clearfix"></div>

  </div>

  <div class="content-section-a">

              <div class="left">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Disaster Risk Management</h2>
                  <div class="lead"
                  <p>The Asia Foundation and its partners in Thailand are developing new ways to disseminate disaster alerts on social media platforms, and share disaster data more openly.  In parallel, the Foundation is helping convene an Open Data Working Group for disaster risk management. This emerging community of partners will pilot data sharing and analysis technologies that help disaster risk management agencies protect property and save lives.
                  </p>
                </div>
              </div>
              <div class="right" style="background-image:url('img/DRM Photo 2.jpg')">
              </div>
              <div class="clearfix"></div>

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

            <div class="left" style="background-image:url('img/mapping 2.jpg');">
            </div>
            <div class="right">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Urban Services</h2>
                <div class="lead">
                  <p> Three quarters of a million nomads from across Mongolia inhabit Ulaanbaatar’s “Ger Areas” – a ring of low-income neighborhoods that form one of the largest unplanned and often unmapped settlements in Asia.  Working with the City of Ulaanbaatar, The Asia Foundation collected high-quality imagery and elevation data for the city using Unmanned Aerial Vehicles (UAVs) and earth-imaging satellites, and created sophisticated maps of the Ger Areas. These maps were then used by local policy makers to develop new approaches to service delivery in Ulaanbaatar’s informal neighborhoods.
                  </p>
                </div>
            </div>

            <div class="clearfix"></div>

  </div>
  <!-- /.content-section-b -->


  <h1><a href="http://www.asiafoundation.org/resources/pdfs/DMTPTAF.pdf" class="btn btn-dark booklet">View Our Project Booklet</a></h1>
</section>
