<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-sm-12">
            <div class="portfolio-item">
              <a href="http://asiafoundation.github.io/#">
                <div class="img-portfolio img-responsive" style="background-image:url('./asiafdn_files/portfolio-1.jpg');">
                </div>
                <h3>Best Project</h3>
              </a>
              <p>
                Sample Text best project ever
                <ul>
                  <li>Actually the best</li>
                  <li>So cool</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="portfolio-item">
              <a href="http://asiafoundation.github.io/#">
                <div class="img-portfolio img-responsive" style="background-image:url('./asiafdn_files/portfolio-2.jpg');">
                </div>
                <h3>2nd Best Project</h3>
              </a>
              <p>Sample Text best project ever</p>
            </div>
          </div>
        </div>
        <a href="http://www.asiafoundation.org/resources/pdfs/DMTPTAF.pdf" class="btn btn-dark booklet">View Our Project Booklet</a>
      </div>
    </div>
  </div>
</section>
