<!-- jQuery -->
<script src="js/jquery.js"></script>

<script>
$(function() {
  function adjustImages() {
    if ($(window).width() > 900) {
      var maxHeight = 0;
      $(".content-section-a .left, .content-section-b .right").each(function(i, el) {
        maxHeight = Math.max(maxHeight, $(el).height());
      });
      maxHeight += 30;
      $(".content-section-b .left, .content-section-a .right").height(maxHeight);
    } else {
      $(".content-section-a .right, .content-section-b .left").height(400);
    }
  }
  $(window).resize(adjustImages);
  adjustImages();
});
</script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!--
  <script src="/js/d3.geo.projection.v0.min.js"></script>
-->

<script src="/js/map.js"></script>
