<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>

<!-- D3 map -->
<!--
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/map.js"></script>
-->

<script>
$(function() {
  // portfolio images
  function adjustImages() {
    if ($(window).width() > 900) {
      var maxHeight = 0;
      $(".content-section-a .left, .content-section-b .right").each(function(i, el) {
        maxHeight = Math.max(maxHeight, $(el).height());
      });
      maxHeight += 100;
      $(".content-section-b .left, .content-section-a .right").height(maxHeight);
    } else {
      $(".content-section-a .right, .content-section-b .left").height(400);
    }
  }
  $(window).resize(adjustImages);
  adjustImages();

  $('#project-modal').on('show.bs.modal', function (event) {
    var project = $(event.relatedTarget).data('project');
    $('#project-modal .project').hide();
    $('#project-modal .' + project).show();
  });

  $('#approach-modal').on('show.bs.modal', function (event) {
    var approach = $(event.relatedTarget).data('approach');
    $('#approach-modal .approach').hide();
    $('#approach-modal .' + approach).show();
  });

  $(".modal").on('hide.bs.modal, hidden.bs.modal', function(e){
    var videos = $(".modal").find("iframe");
    for (var i = 0; i < videos.length; i++) {
      console.log('inside');
      var ifr = $(videos[i]);
      var src = $(ifr).attr("src");
      $(ifr).attr("src", src + "&x=" + Math.random());
    }
  });
});
</script>
