<div class="bg-primary">
  <h1 id="services-header">Our Approach</h1>
</div>

<section id="services" class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="access">
                <h3>Access</h3>
                <img src="img/Icon Mobile ds.png"/>
              </a>
              <p>Leveraging mobile to connect citizens with a global ecosystem of information and services.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="data">
                <h3>Data</h3>
                <img src="img/Icon Pin ds.png"/>
              </a>
              <p>Employing new sensors and data collection techniques to address complex policy challenges.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="collaboration">
                <h3>Collaboration</h3>
                <img src="img/Icon Chat ds.png"/>
              </a>
              <p>Applying social and collaboration tools to build networks and promote a new kind of work.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
