<aside class="callout bg-primary">
  <div class="text-vertical-center">
    <h1>Our Approach</h1>
    <h2>We live in a world of widely distributed knowledge, so investing in open innovation ecosystems is an essential part of our strategy to generate new ideas and novel solutions to problems.</h2>
  </div>
</aside>

<section id="services" class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="access">
              <div class="service-item icon">
                <h3>Access</h3>
                <img src="img/Icon Mobile ds.png"/>
                <p>Leveraging mobile to connect citizens with a global ecosystem of information and services.</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6">
            <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="data">
              <div class="service-item icon">
                <h3>Data</h3>
                <img src="img/Icon Pin ds.png"/>
                <p>Employing new sensors and analytics tools to lower the cost of high quality, actionable information.</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6">
            <a href="#" data-toggle="modal" data-target="#approach-modal" data-approach="collaboration">
              <div class="service-item icon">
                <h3>Collaboration</h3>
                <img src="img/Icon Chat ds.png"/>
                <p>Applying social and collaboration tools to build networks and promote a new kind of work.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
