<section id="services" class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1>How We Work</h1>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="/projects/nepal.html">
                <h3>Access</h3>
                <img class="fa-stack fa-4x" src="img/Icon Mobile ds.png"/>
              </a>
              <p>Smartphones are now connecting millions of people in Asia. We’re leveraging this critical link to connect citizens with a global ecosystem of information and services.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="/projects/srilanka.html">
                <h3>Data &amp; Analytics</h3>
                <img class="fa-stack fa-4x" src="img/Icon Pin ds.png"/>
              </a>
              <p>We’re promoting new tools that help Asia’s policy makers, civic activists, and small business leaders rapidly collect and analyze a range of data previously unavailable to them.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item icon">
              <a href="/projects/collaboration.html">
                <h3>Collaboration</h3>
                <img class="fa-stack fa-4x" src="img/Icon Chat ds.png"/>
              </a>
              <p>We’ve integrated social media tools into our programs to connect our partners more fully, and promote diverse, grassroots networks capable of working in new ways. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
